# MongoDB
MONGODB_URL=mongodb+srv://user:pass@cluster.mongodb.net/?appName=Cluster0
MONGODB_DB_NAME=examscan

# Results DB - Google Sheets
RESULTS_CREDENTIALS_FILE=results_credentials.json
RESULTS_DB_SHEET_ID=your_sheet_id_here

# FastAPI
HOST=0.0.0.0
PORT=8000
DEBUG=True

# Groq API
GROQ_API_KEY=your_groq_api_key

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
